nav.navigation {
  padding: .7rem 1.7rem;
  position: fixed;
  left:50%;
  transform: translateX(-50%);
  bottom: 2rem;
  background-color: #00000030;
  border-radius: 2.5rem;
  display: flex;
  gap: 0.8rem;
  z-index: 2;
  backdrop-filter: blur(15px);
}
nav.navigation a {
  background: transparent;
  color: var(--color-light);
  display: flex;
  padding: .9rem;
  font-size: 1.1rem;
  border-radius: 50%;
}
nav.navigation a:hover {
  background: rgba(0, 0, 0, 0.3);
}
nav.navigation a.active {
  color: var(--color-primary);
  background: var(--color-bg);
}

